<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Innovaris Digital Solutions</title>

</head>
<body>
    <div class="head">

        <div class="logo">
            <a href="/"><img src="/img/"/></a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Conacto</a>
        </nav>

    </div>
<div>
    <header class="content header">
        <div class="slider">
            <ul>
                <li><img src="/img/webbtarantulanebula.jpg"/></li>
                <li><img src="/img/KydBull09281_garoto_sentado_numa_pedra_no_espaco_olhando_para_v_dc231737-e06e-4c6d-aa7d-438b4b1a6043.png"/></li>
                <li><img src="/img/webbtarantulanebula.jpg"/></li>
                <li><img src="/img/webbtarantulanebula.jpg"/></li>
            </ul>
       
        </div>
    </header>
</div>
<div>
    <section class="content sau">

        <h2 class="title">Nuestros Servicios</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
            elit. Veritatis excepturi dolore, harum asperiores 
            cupiditate officiis quia odit reiciendis quidem iure 
            architecto laudantium 
            nihil saepe pariatur vel labore molestias consectetur veniam?</p>
        
        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem</h3>
                <p>labore molestias consectetur veniam</p>
            </div>
        </div>

    </section>
</div>

<div>
    <section class="content about">

        <h2 class="title">Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ut soluta similique 
            quia reprehenderit eligendi aliquam. Sit 
            odio impedit quibusdam. Velit corporis, 
            optio debitis quidem ex ipsam rerum dolorem autem sequi.
        </p>

        <a href="#" class="btn">Saber mas</a>

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">Precio</h2>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ut soluta similique 
                quia reprehenderit eligendi aliquam. Sit 
                odio impedit quibusdam. Velit corporis, 
                optio debitis quidem ex ipsam rerum dolorem autem sequi.
            </p>

            <a href="#" class="btn">Saber precio</a>

        </article>

    </section>
</div>

<div>
    <section class="content contact">
        <h2 class="title">Contactanos</h2>
        <p></p>
        <figure class="map">
            <img src="img/mapa.png" height="220px" width="100%" alt="mapa">
        </figure>
    </section>
</div>
</body>
</html>